* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #eee;
    overflow: hidden;
}

canvas {
    /*background: white;*/
    display: block;
}

#c {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.routeTo{
    position: absolute;
    bottom: 2%;
    right:2%;
    z-index: 2;
}